:root {
  --max-width: 1100px;
  --navy: #0a192f;
  --dark-grey: #323232;
  --purple: #4F0341;
  --white: #f3f3f3;
  --font-sans: "ProximaNova", "Calibre", "Inter", "San Francisco", "SF Pro Text",
    -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  color: var(--dark-grey);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
}

#__next {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0px;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

