.sideElement {
  &-left {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
    ul.socials {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      margin: 0px;
      padding: 0px;
      list-style: none;
      li {
        margin-bottom: 20px;
        a {
          padding: 10px;
          display: inline-block;
          text-decoration: none;
          text-decoration-skip-ink: auto;
          color: inherit;
          position: relative;
          transition: var(--transition);

          &:hover {
            color: var(--purple)
          }
        }
      }
    }
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: var(--purple);
    }
  }
  &-right {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
    .linked-wrapper {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: var(--purple);
      }
      a {
        margin: 20px auto;
        padding: 10px;
        font-family: var(--font-mono);
        font-size: var(--fz-xxs);
        line-height: var(--fz-lg);
        letter-spacing: 0.1em;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;

        &:hover {
          color: var(--purple)
        }
      }
    }
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .sideElement {
    &-left {
    }
    &-right {
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .sideElement {
    &-left {
      left: 20px;
    }
    &-right {
      right: 20px;
    }
  }
}
